/* Base */
.text-cursive {
  font-family: "Indie Flower", cursive ; }

.btn {
  border-radius: 30px;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  padding: 10px 20px;
  text-decoration: none; }

.btn-custom-1 {
  border-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0; }

/* Navbar */
.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem; }

  .site-navbar .toggle-button {
    position: absolute;
    right: 0px; }
  .site-navbar .site-logo {
    margin: 0;
    padding: 0;
    font-size: 2.7rem; }
    .site-navbar .site-logo a {
      color: #fff; }


  .site-navbar .site-navigation .site-menu {
    margin: 0;
    padding: 0;
    margin-bottom: 0; }

    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }
      .site-navbar .site-navigation .site-menu > li > a {
        margin-left: 15px;
        margin-right: 15px;
        padding: 20px 0px;
        color: #000 ;
        display: inline-block;
         }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #fd4d40; }
      .site-navbar .site-navigation .site-menu > li.active > a {
        color: #fd4d40 ; }


.site-section-cover {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden; }
  .site-section-cover,
  .site-section-cover .container {
    position: relative;
    z-index: 2; }

  .site-section-cover.overlay {
    position: relative; }
    .site-section-cover.overlay:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.3);
      z-index: 1; }
  .site-section-cover.inner-page,
  .site-section-cover.inner-page .container > .row {
    height: auto;
    min-height: auto;
    padding: 2em 0; }
  .site-section-cover.img-bg-section {
    background-size: cover;
    background-repeat: no-repeat; }
  .site-section-cover h1 {
    font-size: 3rem;
    color: #fff;
    line-height: 1; }
    @media (max-width: 991.98px) {
      .site-section-cover h1 {
        font-size: 2rem; } }
  .site-section-cover p {
    font-size: 18px;
    color: #fff; }

.site-section {
  padding: 7rem 0; }
  @media (max-width: 991.98px) {
    .site-section {
      padding: 3rem 0; } }


.top-social a {
  display: inline-block;
  padding: 20px; }

.menu-wrap {
  padding: 10px 20px;
  background: #fff;
  border-radius: 100px; }

.text-red {
  color: #fd4d40; }

.text-yellow {
  color: #fdb62f; }

.text-teal {
  color: #16c3b0; }

.package {
  color: #777;
  padding: 40px;
  border-radius: 7px; }
  .package h3 {
    font-size: 18px;
    margin-bottom: 30px; }
  .package .img-wrap {
    display: block;
    margin: 0 auto 30px auto;
    width: 80px; }
    .package .img-wrap img {
      width: 80px; }
